.div_inicio { 
  width: 100%;
  background-color: aquamarine;
  /*//////// position: fixed;*/
  margin: 0 auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;

}

.slider {
  background-color: bisque; 
  cursor: grab;
  overflow: hidden;
  
}

.inner {
  background-color: blueviolet;
  display: flex; 
}

.el {
  background-color: chartreuse;
  height: 80vh;
  min-width: 80%;
  padding: 0 14px;
  
}

.el img {   
  width: 100%;
  height: 100%;
  border-radius: 12px;
  pointer-events: none;
}
