
.div_vazia0 {
  display: flex;
}

.div_vazia1 {
  position: absolute;
   margin-left: 30%; 
   width: 0;
   height: 0;
   border-top: 0 solid transparent;
   border-right: 82px solid goldenrod;
   border-bottom: 63px solid transparent; 
}

.div_vazia2 {
  position: absolute;
  margin-left: 36%;
  width: 64%;
  height: 10vh;
  background-color: goldenrod;
}

.div_logo {
  display: flex;
  height: 20vh;
  width: 70%;
  background-color: #3c3e44;

}

.div_logo img {
  width: 250px;
  height: 150px;
  margin-left: 2.5rem;
}

.div_link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8%; 
  margin-left: 20%;
  height: 30%;
}

.link {
  text-decoration: none;
}

.h4_link {
  padding: 0 1rem;
  margin-right: 1rem; 
  color: black;
  font-weight: 700;
  font-family: "eixo";
}

.h4_link:hover {
  color: goldenrod;
}

.div_vazia3 {
  position: absolute;
  margin-top: 4.7%;
   margin-left: 70%; 
   width: 0;
   height: 0;
   border-top: 62px solid transparent;
   border-left: 82px solid #3c3e44;
   border-bottom: 0px solid transparent; 
}


