.nav_header {
  display: flex;
  width: 100%;
  background-color: #3c3e44;
  height: 150px;
}

.nav_header img {
  width: 150px;
  height: 150px;
  padding: 0 5rem;
}

.nav_header h2:hover {
  color: #fff;
  cursor: pointer;
}

.div_header {
  display: flex;
  width: 90%;
  background-color: goldenrod;
  height: 100%;
  justify-content: end;
  align-items: flex-end;
  border-radius: 10rem 0 10rem 0;
}

.div_header h4 {
  padding: 1rem;
}

.div_header h4:hover {
  color: #fff;
  cursor: pointer;
}

.link_inicio {
    border-radius: 3rem 0 0 0;
}

.link {
  background-color: #ffffff35;
  backdrop-filter: blur(2px);
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-family: "eixo";
  height: 50%;
}

.button_servicos { 
  border: none;
  font-weight: 700;
  font-family: "eixo";
}

.button_contato {  
  background-color: #ffffff35;
  backdrop-filter: blur(2px);
  border: none;
  font-weight: 700;
  font-family: "eixo";
  text-decoration: none;
}




/* 
.modal {
  margin-top: 10%;
  margin-left: 28%;
  width: 40%;
  height: 60%;
  text-align: center;
  background-image: url("../../assets/Logo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
  padding: 0.1rem;
  color: black;
  border: solid 2px black;
}

.h4_modal {
  text-decoration: none;
  color: #fff;
}

.h4_modal :hover {
  color: goldenrod; 
}*/
/* 
.form3 {
  margin-top: 3rem;
}

.form3 div {
  text-align: start;
  padding: 0.3rem;
}

.form3 input {
  border: solid 2px;
}

.div_nome_contato {
  margin-left: 8%;
}

.div_email_contato {
  margin-left: 8%;
}

.div_empresa_contato {
  margin-left: 8%;
}

.div_descricao_contato {
  display: flex;
  justify-content: space-evenly;
}

.div_descricao_contato textarea {
  border: solid 2px;
}

.button_form3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.button_form3 button {
  border: solid 2px black;
  padding: 0 0.3rem;
  border-radius: 0.3rem;
  color: black;
  font-weight: 700;
}

.button_form3 button:hover {
  color: goldenrod;
  border: solid 2px #fff;
}
 */