.nav_header {
    display: flex;    
    width: 100%;
    background-color: dimgrey;
    backdrop-filter: blur(15px);
}

.nav_header img {
   width: 250px;
   padding: 0 5rem;
   
}

.nav_header h2:hover {
    color: #fff;
    cursor: pointer;
}

.div_header {
    display: flex;
    margin-top: 5rem;
    margin-left: 40%; 
    margin-bottom: 5rem;    
}

.div_header h4 {
    padding: 1rem;
}

.div_header h4:hover {
    color: goldenrod;
    cursor: pointer;
}

