.nav_footer {
    height: 10vh;
    width: 100%;
    background-color: dimgrey;
}

.ul_footer {
    display: flex;
    list-style: none;
    justify-content: end;
    padding: .8rem 2rem;
}

.email a {
    padding: 0 2rem;
    font-size: 30px;
    color: black;
}

.email a:hover {
    color: #fff;
    cursor: pointer;
}

.whatssap a {
    font-size: 30px;
    color: black;
}

.whatssap a:hover {
    color: #fff;
    cursor: pointer;
}

.div_footer {
    margin-top: 1rem;  
}

.linha {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, goldenrod, transparent);        
}

.legenda {
    text-align: center;
    font-family: "eixo";
    color: goldenrod;   
}

